{% extends "base.html" %} 
{% block content %} 

<div class="flex">
  <div class="w-1/2">
    <img src="{{ book.image.url }}" class="w-full" alt="Card Image">
  </div>
  <div class="w-1/2 p-4">
    <div class="bg-white p-6 rounded-md shadow-md">
      <h5 class="text-2xl font-bold mb-4">
        <a href="#" class="text-blue-500 hover:underline">{{ book.title }}</a>
      </h5>
      <p>Price: {{ book.price }} $</p>
      <p>Description: {{ book.description }}</p>
      <p>Category Name: {{ book.category }}</p>
      <a href="{% url 'purchase_book' book.id %}" class="flex items-center justify-center w-full p-3 font-semibold tracki rounded-md dark:bg-violet-400 dark:text-gray-900">Borrow</a>
      {% if user.is_authenticated %}
      {% endif %}
    </div>
  </div>
</div>

<div class="card mt-4 m-2">
  <h5 class="card-header">Total Comment: {{ reviews | length }}</h5>
  <div class="card-body">
    {% for c in reviews %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0">{{ c.name }}</h5>
              <p>{{ c.body }}</p>
              <p>{{ c.created_on }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="card mt-4 m-2">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="mb-4 text-2xl font-bold">Add Review</h1>
      {% csrf_token %}
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input id="name" type="text" name="name" placeholder="Your name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input id="email" type="email" name="email" placeholder="Your email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="body" class="block text-gray-700 text-sm font-bold mb-2">Body</label>
        <textarea id="body" name="body" placeholder="Your review" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      <button type="submit" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
    </form>
  </div>
</div>


{% endblock %}
