{% extends "base.html" %} 
{% block content %} 

<div class="flex">
  <div class="w-1/2">
    <img src="{{ book.image.url }}" class="w-full" alt="Card Image">
  </div>
  <div class="w-1/2 p-4">
    <div class="bg-white p-6 rounded-md shadow-md">
      <h5 class="text-2xl font-bold mb-4">
        <a href="#" class="text-blue-500 hover:underline">{{ book.title }}</a>
      </h5>
      <p>Price: {{ book.price }} $</p>
      <p>Description: {{ book.description }}</p>
      <p>Category Name: {{ book.category }}</p>
      <a href="{% url 'purchase_book' book.id %}" class="flex items-center justify-center w-full p-3 font-semibold tracki rounded-md dark:bg-violet-400 dark:text-gray-900">Borrow</a>
      {% if user.is_authenticated %}
      {% endif %}
    </div>
  </div>
</div>

<div class="card mt-4 m-2">
  <h5 class="card-header">Total Comment: {{ comments | length }}</h5>
  <div class="card-body">
    {% for c in comments %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0">{{ c.name }}</h5>
              <p>{{ c.body }}</p>
              <p>{{ c.created_on }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% comment %} <div class="card mt-4 m-2">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="mb-4 text-2xl font-bold">Add Comment</h1>
      {% csrf_token %} {{ comment_form | crispy }}
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</div> {% endcomment %}

{% endblock %}
